version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
      time: "00:00"
      
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "daily"
      time: "00:00"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"

  - package-ecosystem: "docker"
    directory: "/backend"
    schedule:
      interval: "daily"
      time: "00:00"

  - package-ecosystem: "docker"
    directory: "/frontend"
    schedule:
      interval: "daily"
      time: "00:00"
