# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.log
local_settings.py
db.sqlite3

# Python environments / Conda
.env
.venv/
env/
venv/

# Package and build artifacts
*.egg-info/
dist/
build/

# Test & coverage
*.coverage
coverage.xml
htmlcov/

# Node / React (frontend)
node_modules/
npm-debug.log*
frontend/build/

# Static files (Django + React)
staticfiles/

# Docker
*.env.*
docker-compose.override.yml

# Editor / OS-specific files
.idea/
.vscode/
.DS_Store

# Misc
*.lock
