# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Python Packages
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js (React) stuff:
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/static/
*.js.map
*.css.map
build/

# Others
*.coverage
.coverage.*
*.cover
nosetests.xml
coverage.xml
nose2-junit-reports/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cache

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Pyenv and other project environments
.python-version

# Ignore IDE settings/metadata and other common project settings
.idea/
.vscode/

# Local development configuration
.DS_Store

# All other configs
*.lock
*.toml
