version: '3.8'

services:
  backend:
    build:
      context: ./backend
    image: ghcr.io/vanillaicecube/notoli-backend:latest
    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
    image: ghcr.io/vanillaicecube/notoli-frontend:latest
    volumes:
      - ./frontend:/frontend
    ports:
      - "3000:3000"
