name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: continuous-integration-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

jobs:
  lints:
    name: Lints
    uses: ./.github/workflows/lints.yaml
    with:
      checkout_ref: ${{ github.event.pull_request.head.ref }}

  tests:
    name: Tests
    uses: ./.github/workflows/tests.yaml
  
  pr-summary:
    name: Commentary
    needs: [lints, tests]
    uses: ./.github/workflows/commentary.yaml
    secrets: inherit

  auto-merge:
    name: Auto Merge
    needs: [lints, tests]
    if: github.event.pull_request.user.login == 'dependabot[bot]' && needs.lints.result == 'success' && needs.tests.result == 'success'
    uses: ./.github/workflows/auto_merge.yml
    permissions:
      contents: write
      pull-requests: write
      issues: write
    secrets:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      OPENAI_PROJECT_ID: ${{ secrets.OPENAI_PROJECT_ID }}
