name: Continuous Integration

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: continuous-integration-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  lints:
    name: Lint
    uses: ./.github/workflows/lints.yaml

  tests:
    name: Tests
    uses: ./.github/workflows/tests.yaml

  dependabot-auto-merge:
    name: Dependabot Auto Merge
    needs: [lints, tests]
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    uses: ./.github/workflows/dependabot_auto_merge.yml
    permissions:
      contents: write
      pull-requests: write
      issues: write
