name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ main ]
    paths:
      - "frontend/**"
      - "backend/**"
      - ".github/workflows/lints.yaml"

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      backend:  ${{ steps.filter.outputs.backend }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            frontend:
              - 'frontend/**'
            backend:
              - 'backend/**'

  lint-frontend:
    name: Lint Frontend (ESLint + Prettier)
    needs: changes
    if: needs.changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: '18.20.8'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Install dependancies
        run: npm ci

      - name: Prettier (auto-fix)
        run: npm run format

      - name: ESLint (auto-fix)
        run: npm run lint -- --fix

      - name: Commit auto-fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Github Actions: Prettier & ESLint automatic lint fixes"
          branch: ${{ github.head_ref }}
          file_pattern: |
            frontend/**/*
          commit_user_name: "lint-bot"
          commit_user_email: "lint-bot@users.noreply.github.com"

      - name: Prettier (check only)
        run: npm run format:check

      - name: ESLint (no warnings)
        run: npm run lint:strict

  lint-backend:
    name: Lint Backend (Ruff)
    needs: changes
    if: needs.changes.outputs.backend == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: backend/environment.yml

      - name: Install deps
        run: pip install ruff

      - name: Ruff (auto-fix)
        run: ruff check . --fix

      - name: Ruff format (auto-fix)
        run: ruff format .

      - name: Commit auto-fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Github Actions: Ruff automatic lint fixes"
          branch: ${{ github.head_ref }}
          file_pattern: |
            backend/**/*
          commit_user_name: "lint-bot"
          commit_user_email: "lint-bot@users.noreply.github.com"

      - name: Ruff (check only)
        run: ruff check .

      - name: Ruff format (check only)
        run: ruff format --check .
