name: Tests

on:
  workflow_call:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  frontend-tests:
    name: Frontend Tests (React)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '18.20.8'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Install frontend dependencies
        run: npm ci

      - name: Run frontend tests
        env:
          CI: true
        run: npm test -- --watchAll=false --verbose --runInBand

  backend-tests:
    name: Backend Tests (Django)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: backend/environment.yml

      - name: Install backend dependencies
        run: |
          pip install \
            django==5.2.8 \
            django-cors-headers==4.7.0 \
            django-filter==25.1 \
            djangorestframework==3.16.0 \
            djangorestframework-simplejwt==5.5.0 \
            gunicorn \
            pyyaml==6.0.2 \
            whitenoise==6.11.0

      - name: Run backend tests
        run: python manage.py test --verbosity=2
